@font-face {
    font-family: PixelSplitter;
    src: url(../fonts/pixelsplitter.woff);
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PixelSplitter;
}
:root{
    --primary: #6EC1E4;
    --paracolor: #C3C3C3;
}
body{
    background-color: black;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.header{
    width: 100%;
    height: 170px;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 1;
}
.box-container{
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-2%);
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    left: 0;
    font-size: 32px;
    color: white;
}
.logo i:hover{
    color: black;
    cursor: pointer;
}
.logo img{
    width: 100%;
}
.header-text{
   padding: 10px 20px;
   transition: 0.3s;
    font-size: 13px;
}
.header-text:hover{
    color: black;
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .box-container{
        transform: translateX(0);
    }
    .box1,.box2{
        display: block;
        position: absolute;
        top:170px;
        width: 100%;
        background-color: black;
        transition: 0.3s;
        visibility: hidden;
    }
    .box1 a, .box2 a{
        display: block;
    }
    .header-text:hover{
        color: white;
        background-color: var(--primary);
    }
    .logo{
        padding: 50px;
    }
    .logo i{
        display: block !important;
    }
    .logo img{
        max-width: 100%;
        padding-right: 30px ;
    }
    .header-text{
        transition: 0s;
    }
}
/*  Main*/
.main{
    margin-top: 10px;
    position: relative;
    display: block;
    
}
section {
    margin: 20px auto;
}

/*Landing Video*/

.landing-video{
    margin: 10px auto;
    width: 55%;
}
.landing-video video{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {

    .landing-video{
        width: 95%;
    }
}

/*JOIN DISCORD*/
.join-discord{
    width: 80%;
    margin: 0px auto;
}
.join-discord .title{
    align-items: center;
    text-align: center;
    line-height: 40px;
    margin: 40px 0px;
    padding: 50px;
}
.join-discord .title h1,.join-discord-2 div h2{
    color: var(--primary);
    font-size: 32px;
}
.join-discord-2{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.join-discord-2 div{
   flex-basis: 50%;
   padding: 20px;
   text-align: center;
}
.join-discord-2 div h2{
    margin-bottom: 30px;
}
.join-discord-2 div video{
    width: 100%;
}
.btn{
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

@media screen and (max-width: 732px) {
    .join-discord-2 div{
        flex-basis: 100% ;
        text-align: center;
        padding: 10px;
    }
    .join-discord{
        width: 100%;

    }
    .join-discord .title h1,.join-discord-2 div h2{
        color: var(--primary);
        font-size: 20px;
    }
}


/*COLLECTION*/

.collection{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: flex-start;
}
.collection .text , .collection .image{
    width: 40%;
    height: 100%;
    display: grid;
}
.text h2{
    width: 100%;
    background-color: var(--primary);
    color: white;
    font-size: 20px;
}
.text h2:hover{
    background-color: transparent;

}
.text h3{
    margin-top: 10px;
    color: var(--primary);
    font-size: 32px;
}
.text p{
    font-family: "Roboto", Sans-serif;
    margin: 20px 0px;
    color: var(--paracolor);
    line-height: 30px;
    padding: 5px;

}
.image-2{
    width: 20% !important;
}
.image img{
    /*width: inherit;
    position: absolute;*/
    overflow: hidden;
   /* float: left; 
    /*REMOVE IF NOT SUCESS*/
    opacity: 0;
    transition: opacity 800ms ease;
    width: 100%;
    grid-area: 1/1/2/3;
}


/*REMOVE IF NOT SUCESS*/
.pic{
    opacity: 0;
}

.active {
    opacity: 1 !important;
}
@media screen and (max-width: 800px) {
    .image-2{
        display: none !important;
    }
    .collection .text , .collection .image{
        width: 50%;
    }
}
@media screen and (max-width: 645px) {

    .collection .text , .collection .image{
        width: 100%;
        height: unset;
    }
    .collection{
        display: block;
    }
}
/*SLIDER IMAGES*/
.slider{
    border-top: 10px dashed var(--primary);
    border-bottom: 10px dashed var(--primary);;
    height: fit-content;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;

}
.slide-track{
    display: flex;
    width: calc(30vw * 18);
    animation: scroll 40s linear infinite;
}
.slide{
    padding:10px ;
}
.slide img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 645px) {

    .slide-track{
        width: calc(50vw * 18);

    }
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
    
}

/*KEY FRAMES FOR CHANGE THE IMAGES

.image{
    animation: changeIMG 10s infinite;
    background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@keyframes changeIMG{
    0% {background-image: url('../images/transition-images/11-1.png'); }
    25% {background-image: url('../images/transition-images/27.png'); }
    50% {background-image: url('../images/transition-images/28.png'); }
    75% {background-image: url('../images/transition-images/9-1.png'); }
    100% {background-image: url('../images/transition-images/11-1.png'); }
}

*/



