@font-face {
    font-family: PixelSplitter;
    src: url(../fonts/pixelsplitter.woff);
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PixelSplitter;
}
:root{
    --primary: #6EC1E4;
}
body{
    background-color: black;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.header{
    width: 100%;
    height: 170px;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 1;
}
.box-container{
    width: 100%;
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-2%);
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    left: 0;
    font-size: 32px;
    color: white;
}
.logo i:hover{
    color: black;
    cursor: pointer;
}
.logo img{
    width: 100%;
}
.header-text{
   padding: 10px 20px;
   transition: 0.3s;
}
.header-text:hover{
    color: black;
}
a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .box-container{
        transform: translateX(0);
    }
    .box1{
        display: block;
        position: absolute;
        top:170px;
        width: 100%;
        background-color: black;
    }
    .box2{
        display: block;
        position: absolute;
        top:290px;
        width: 100%;
        background-color: black;
    }
    .box1 a, .box2 a{
        display: block;
    }
    .header-text:hover{
        color: white;
        background-color: var(--primary);
    }
    .logo{
        padding: 50px;
    }
    .logo i{
        display: block !important;
    }
    .logo img{
        max-width: 100%;
        padding-right: 30px ;
    }
    .menu{
        visibility: hidden;
    }
}
/*  Main*/
.main{
    margin-top: 10px;
    position: relative;
    display: block;
}

/*Landing Video*/

.landing-video{
    margin: 10px auto;
    width: 55%;
}
.landing-video video{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {

    .landing-video{
        width: 95%;
    }
}

/*JOIN DISCORD*/
.join-discord{
    width: 80%;
    margin: 0px auto;
}
.join-discord .title{
    align-items: center;
    text-align: center;
    line-height: 40px;
    margin: 40px;
    padding: 50px;
}
.join-discord .title h1,.join-discord-2 div h2{
    color: var(--primary);
    font-size: 32px;
}
.join-discord-2{
    display: flex;
}
.join-discord-2 div{
   flex-basis: 50%;
}
.join-discord-2 div video{
    width: 100%;
}
.btn{
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
